.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-new-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.home-section {
  display: flex;
  padding: 64px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-navbar-logo-left {
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.home-navbar-container {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-navbar-content {
  gap: 625px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-navbar-brand {
  display: flex;
  align-items: flex-start;
}
.home-logotype-name {
  width: 241px;
  height: 50px;
}
.home-navbar-menu {
  gap: 32px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home-navbar-link {
  display: flex;
  padding: 24px 12px;
  align-items: flex-start;
}
.home-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-navbar-link1 {
  display: flex;
  padding: 24px 12px;
  align-items: flex-start;
}
.home-twitter1 {
  width: 24px;
  height: 24px;
}
.home-text002 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-navbar-link2 {
  display: flex;
  padding: 24px 12px;
  align-items: flex-start;
}
.home-discord1 {
  width: 24px;
  height: 24px;
}
.home-text004 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-navbar-button {
  gap: 8px;
  display: flex;
  padding: 8px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-radius: 38px;
  justify-content: center;
  background-color: rgba(255, 191, 117, 1);
}
.home-text006 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-hero-heading-left {
  gap: 80px;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.home-container1 {
  gap: 80px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-column {
  gap: 24px;
  width: 560px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text008 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 27.5px;
}
.home-column01 {
  gap: 24px;
  width: 560px;
  height: 106px;
  display: flex;
  padding: 24px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 0);
}
.home-actions {
  gap: 62px;
  display: flex;
  padding: 16px 0 0 28px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-button {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(255, 191, 117, 1);
}
.home-text010 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-button1 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-color: rgba(255, 191, 117, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(255, 191, 117, 0);
}
.home-text012 {
  color: rgba(252, 227, 141, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-column02 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.home-image-wrapper {
  width: 560px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-yield-forge0311 {
  width: 653px;
  height: 462px;
}
.home-features-metrics {
  gap: 32px;
  width: 1440px;
  height: 254px;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(245, 247, 250, 1) 0%, rgba(252, 228, 142, 1) 0%, rgba(238, 112, 59, 1) 100%);
}
.home-small-container {
  gap: 24px;
  width: 960px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-columns {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-metric {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text014 {
  color: rgba(33, 33, 33, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text016 {
  color: rgba(33, 33, 33, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-metric1 {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text018 {
  color: rgba(33, 33, 33, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text020 {
  color: rgba(33, 33, 33, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-metric2 {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text022 {
  color: rgba(33, 33, 33, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text024 {
  color: rgba(33, 33, 33, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-hero-heading-right {
  gap: 80px;
  width: 1440px;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.home-container2 {
  gap: 80px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-column03 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.home-image-wrapper1 {
  width: 560px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-column04 {
  gap: 24px;
  width: 560px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text026 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 56px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text028 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-actions1 {
  gap: 16px;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
}
.home-button2 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-radius: 32px;
  justify-content: center;
  background-color: rgba(255, 191, 117, 1);
}
.home-text030 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-hero-heading-left1 {
  gap: 80px;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.home-container3 {
  gap: 80px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-column05 {
  gap: 24px;
  width: 560px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-content2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text032 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 56px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text034 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-actions2 {
  gap: 16px;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
}
.home-button3 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-radius: 34px;
  justify-content: center;
  background-color: rgba(255, 191, 117, 1);
}
.home-text036 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-column06 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.home-image-wrapper2 {
  width: 560px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-image1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-team-circles {
  gap: 64px;
  width: 1440px;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
.home-container4 {
  gap: 64px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-title-section {
  gap: 16px;
  width: 530px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text038 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text040 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-columns1 {
  gap: 48px;
  display: flex;
  padding: 0 126px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.home-card {
  gap: 24px;
  width: 450px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-image-wrapper3 {
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-maskgroup {
  width: 251px;
  height: 251px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-ellipse2 {
  top: 0px;
  left: 0px;
  width: 251px;
  height: 251px;
  position: absolute;
}
.home-team-francomin1 {
  top: 1px;
  left: 1px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.home-team-francomin11 {
  top: -2px;
  right: -494px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.home-content3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-info {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text042 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text044 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text046 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-card1 {
  gap: 24px;
  width: 450px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-image-wrapper4 {
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-maskgroup1 {
  width: 251px;
  height: 251px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-team-armandmin1 {
  top: -2px;
  left: -3px;
  width: 253px;
  height: 255px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-ellipse3 {
  top: 0px;
  left: -3px;
  width: 251px;
  height: 251px;
  position: absolute;
}
.home-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-info1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text051 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text053 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text055 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-roadmap {
  gap: 64px;
  width: 1440px;
  height: 679px;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(245, 247, 250, 0);
}
.home-container5 {
  gap: 64px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-section-title {
  gap: 16px;
  width: 530px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text060 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text062 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-columns2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-card2 {
  width: 264px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-info2 {
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
.home-bulb1 {
  width: 47px;
  height: 47px;
}
.home-text064 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text066 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-card3 {
  width: 264px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-info3 {
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
.home-rmapcharthistogram1 {
  width: 47px;
  height: 47px;
}
.home-text068 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text070 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-card4 {
  width: 264px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-info4 {
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
.home-rmaprocketlunch1 {
  width: 48px;
  height: 48px;
}
.home-text072 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text074 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-card5 {
  width: 264px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-info5 {
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}
.home-rmapusersalt1 {
  width: 48px;
  height: 48px;
}
.home-text076 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text078 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-callto-action {
  display: flex;
  padding: 64px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-content5 {
  width: 1052px;
  height: 389px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  flex-direction: column;
  background-image: linear-gradient(-45deg, rgba(255, 192, 118, 1) 0%, rgba(238, 112, 59, 1) 100%);
}
.home-frame2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text080 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 27.5px;
}
.home-text082 {
  color: rgba(0, 0, 0, 1);
  width: 1004px;
  height: auto;
  text-align: center;
  line-height: 65px;
}
.home-actions3 {
  gap: 16px;
  width: 1004px;
  height: 93px;
  display: flex;
  padding: 16px 0 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-button4 {
  gap: 8px;
  display: flex;
  padding: 12px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 34px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
}
.home-text084 {
  color: rgba(252, 227, 141, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-footer {
  gap: 40px;
  width: 1440px;
  display: flex;
  padding: 64px 24px 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.home-columns3 {
  gap: 40px;
  width: 960px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-column07 {
  gap: 24px;
  width: 320px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-logo-wrapper {
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
}
.home-logo {
  width: 141px;
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-small-columns {
  gap: 32px;
  width: 600px;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-column08 {
  gap: 24px;
  width: 178.6666717529297px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text086 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-footer-links {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text088 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text090 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text092 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-column09 {
  gap: 24px;
  width: 178.66665649414062px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-content7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text094 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-footer-links1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text096 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text098 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text100 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text102 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-column10 {
  gap: 24px;
  width: 178.6666717529297px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-content8 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text104 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-footer-links2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text106 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text108 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-copyright {
  gap: 32px;
  width: 940px;
  display: flex;
  padding: 16px 0;
  box-shadow: 0px -1px 0px 0px rgba(228, 235, 243, 1) ;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.home-text110 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
